.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}


.list{

  padding-top: 50px;
  top: 60px;
  bottom: 20px;
  padding: 20px;
  margin: 30px;
  position: relative;
}



app-footer
{
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
