<html>
  <head></head>
  <body>
    <div class="card" *ngFor="let inside of Inside" >

      <div *ngIf="inside.company || inside.title || inside.Degree || inside.location" class="flex-container">
        <div class="leftBox">
          <p *ngIf="inside.title" >{{inside.title}}</p>
        <p *ngIf="inside.company">{{inside.company}}</p>
        <p *ngIf="inside.Degree" >{{inside.Degree}}</p>
        <p *ngIf="inside.location"> {{inside.location}}</p>
      </div>

      <div class="rightBox">
        <p *ngIf="inside.date"> {{inside.date}}</p>
      </div>

      </div>

      <ul>
        <li *ngFor="let content of inside.content"> {{content}}</li>
      </ul>

    </div>


  </body>
</html>
