<html>
  <head></head>
  <body>
    <div class="card" >
      <div class="cardHeading">
        <h2>Education</h2>
      </div>

      <div class="cardContent">

        <div class="Title">
          <h3>Osmania University</h3>
          <div class="Date"> <h5> June 2019 </h5></div>

        </div>
        <div class="Degree"> </div>
        <div class="Courses"> </div>
        <div class="Location"> </div>
        <div class="Company"> </div>
        <div class="Content"> </div>

      </div>
    </div>
  </body>
</html>
